.btn-space {
	margin: 26px;
}

nav {
	background-color: #393e46;
}

.page-container {
	background-color: #e8eae6;
	height: 100vh;
}

.tweetCard {
	background-color: #edffec;
	margin: auto;
	padding: 20px;
	height: 10%;
	width: 50%;
}

figure img {
	border-radius: 10px;
	height: 100px;
	margin: 20px;
	width: 115px;
}

.search-header {
	background-color: blue;
}

.searchTweetCard {
	background-color: #edffec;
	margin-top: 25px;
	padding: 20px;
	width: 50%;
}
