nav {
	background-color: #28527a;
}

.page-container {
	height: 100vh;
	background-color: #9fb8ad;
}

.tweet-container {
	background-color: #314e52;
	margin-top: 25px;
	height: 75vh;
	width: 100%;
}

figure img {
	border-radius: 10px;
	height: 100px;
	margin: 20px;
	width: 115px;
}
