nav {
	background-color: #28527a;
}

.page-container {
	height: 100vh;
	background-color: #9fb8ad;
}

.tweetCard {
	background-color: red;
	border-radius: 10%;
	position: absolute;
	margin: auto;
	width: 50%;
}
